services:
  neard:
    image: p2pstaking/neard:2.9.1
    restart: unless-stopped
    volumes:
      - /root/.near/:/root/.near/
      - /root/.near-credentials:/root/.near-credentials 
      - /root/.near-config:/root/.near-config
      - ../prometheus/push_near.sh:/root/push_near.sh
      - ../bin/staking_contract:/usr/local/bin/staking_contract
    network_mode: host
#    ports:
#      - 9030:3030
#      - 24567:24567
    environment:
      - NEAR_ENV=mainnet
      - POOL_ID=p2pstaking
      - VALIDATOR_NAME=p2pstaking.poolv1.near
    security_opt:
      - apparmor=unconfined 

